<div ng-controller="EditWallCtrl">
    <div class="generalPage">
        <div id="contentHeader" >
            <h2 class="contentHeaderTitle">Edit Your {{titleText}}'s Memorial Profile:</h2>
        </div>
        <div ng-hide="hidemainform" >
            <div id="log"></div>
                <form class="editMemWall">
                    <label for="title">Title: </label><br clear" />
                    <input type="text" id="title" ng-model="form.title" name="title" />
                    <p class="validation-error">{{message.title}}</p>
                    <br /><label for="author">Please specify a short address for your profile : <br /> ie: www.the-circle-of-life.net/#/<b><i class="shortURI">myangelspage</i></b></label><label for="author">Short Address: </label>
                    <input type="text" name="author" id="author" ng-model="form.author" />
                    <p class="validation-error">{{message.url}}</p>

                    <label for="content"><b>Edit the Contents of your {{titleText}}'s wall below</b></label>
                    <br />


                    <label ng-hide="isGroup">Name of Angel</label>
                    <input type="text" class="login-inp" ng-model="form.firstName" placeholder="First Name" ng-hide="isGroup" />
                    <p class="validation-error" ng-hide="isGroup">{{message.firstName}}</p>

                    <input type="text" class="login-inp" ng-model="form.lastName" placeholder="Last Name" ng-hide="isGroup" />
                    <p class="validation-error" ng-hide="isGroup">{{message.lastName}}</p>

                    <label for="content">Tell your {{titleText}}'s story here: </label>

                    <textarea id="content" placeholder="Enter text ..." ng-model="form.text" cols="50" rows="15"></textarea>
                    <br/>
                    <div ng-hide="isGroup">
                    <label>Date of Birth</label>
                    <!--TODO:Make this an uploadable file-->

                    <div class="form-horizontal">
                        <input type="text" datepicker-popup="yyyy/MMMM/dd" ng-model="form.dob" is-open="opened1" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                        <button class="btn" ng-click="open(1)"><i class="general foundicon-calendar"></i></button>
                    </div>

                    <p class="validation-error">{{message.dob }}</p>
                    </div>
                    <br/>
                    <div ng-hide="isGroup">
                        <label>I have lost my: </label> <br />
                        <select class="login-inp"
                                name="lostAngel"
                                ng-change="checked()"
                                ng-model="selectedGroup"
                                ng-options="group.name for group in groups">
                            </option>
                        </select>
                        <p class="validation-error">{{message.subgroup}}</p>
                    </div>
                    <div ng-hide="isGroup">
                    <label>Day your angel got wings</label>
                    <div class="form-horizontal">
                        <input type="text" datepicker-popup="yyyy/MMMM/dd" ng-model="form.memorialDate" is-open="opened2" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                        <button class="btn" ng-click="open(2)"><i class="general foundicon-calendar"></i></button>
                    </div>
                    <p class="validation-error">{{message.memorialDate}}</p>
                        </div>
                    <br/>
                    <p>
                        <button ng-click="editPost()" resetOnSubmit="true">Continue to next step</button>
                    </p>
                </form>
            </div>
        </div>
        <div  ng-include src="template.url">

        </div>
    </div>
</div>