<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Free support groups, workshops, and much more...</title>
    <meta name="description" content="Angels of Eureka's Circle of Life. Free online memorials, private support groups, petitions and much more for grieving friends and family to celebrate and cherish the memory of your lost loved ones.">
    <meta name="keywords" content="private support groups, free online memorials, memorial website, memorial network, workshops, petitions, grief seminars">
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/app.css" />
    <link href="css/animate.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <!--
    <link rel="stylesheet" href="css/basic.css"/>
    -->
    <link rel="stylesheet" href="css/dropzone.css"/>

    <link rel="stylesheet" href="scripts/vendor/shadowbox-3.0.3/shadowbox.css"/>
    <!-- <link rel="stylesheet" href="scripts/vendor/intro.js-0.7.0/introjs.css"/> -->
    <!-- endbuild -->
    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
    <div id="fb-root"></div>
    <script></script>
</head>
<body ng-app="YoMemorialApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>

<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<div ng-controller="HeaderCtrl" class="show-for-medium-up">
    <div ng-class="[constyle,constyle2]" >
        <nav ng-class="[topstyle,topstyle2]" data-topbar data-options="is_hover: false">
            <a href="#/" ng-bind="title" class="logo"></a>
            <ul class="mainNav">
                <li if-authed="show">
                    <a href="#/profile/{{username}}"><b style="color:#8a9948;">View Your Dashboard</b></a>
                </li>
                <li>
                    <a href="#/about" id="groupsbutton" class="small">About Us</a>
                </li>
                <li>
                    <a href="http://angelsofeureka.com/shop/index.php/" id="webstorebutton" class="small">Web Store</a>
                </li>
                <li>
                    <a href="#/help-resources" class="helpResc">Help Resources</a>
                </li>
                <li>
                    <a href="#" ng-controller="UserInfoCtrl" ng-click="logout()" if-authed="show">logout</a>
                    <div id="login-inner" class="login" ng-controller="LoginController" if-authed="hide">
                        <p>
                            <b class="loginMsg">{{error}}</b>
                            <b class="loginMsg">{{message}}</b>
                            <input type="text" class="login-inp" ng-model="form.username" placeholder="User Name"/>
                            <input type="password" class="login-inp" ng-model="form.password" placeholder="Password"/>
                            <a class="button" ng-click="submitAuth()">Login</a>
                            <a ng-click="forgot()" href="#/passwordrecovery">forgot password??</a>
                        </p>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="events" ng-controller="EventListController" if-authed="show">
            <img src="/img/eventsIcon.png" title="What's Happening" alt="Upcoming Events" />
            <div class="event-list">
                <div  class="event-list-header">
                    <h3>
                        Upcoming Events<span role="presentation" class="sub-nav-header-arrow">></span>
                    </h3>
                </div>
                <div class="event-list-body">
                    <ol ng-repeat="event in events" class="event-list-content">
                        <li>
                            <span class="event-list-date">{{event.date}}</span>
                            <span class="event-list-date">{{event.message}}</span>
                            <span class="event-list-photo">Photo Here</span>
                            <span class="event-list-type">
                                <span class="event-list-name">{{event.name}}</span>
                                <strong>{{event.event}}</strong><br />
                                {{event.text}}
                                <div class="event-list-reach-out">
                                    <!-- <a href="#" class="event-list-view-event" title="View Event Details">View Event</a>-->
                                </div>
                            </span>
                        </li>
                    </ol>
                    <div ng-hide="events.length">There are currently no upcoming events in your network.</div>
                </div>
            </div>
        </div>
        <a href="#/profile/{{username}}"><img src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=http%3A%2F%2Fwww.angelsofeureka.com%2Fimages%2FdefaultAvatar.png" class="avatar" if-authed="show" /></a>
    </div>
</div>
<!-- main content goes here -->
<!-- Add your site or application content here -->
 <section class="primaryContent">
     <div class="splash" ng-cloak="">
         <img src="img/loadingLogo.png" alt="Loading...Please wait a few moments"
         <p>Loading...</p>
     </div>
     <div ng-controller="NotificationsCtrl" ng-cloak>
        <div class="my-repeat-animation" ng-repeat="noti in notifications" id="notifications">
            {{ noti.text }}
            <div>{{noti.count}}</div>
            <a class="closeButton" ng-click="notiviewed( noti._id )" closeparent title="Hide this box by clicking here">X</a>
        </div>
     </div>
        <!-- Main  Content -->
        <div ng-view class="mainBG my-page-animation">

        </div>
        <!-- End  Main Content -->
        <!-- Begin  Footer -->
        <footer class=" border-footer">
            <div class="footer-child">
                <p>The Circle of Life by Angels of Eureka. © 2013 Angels of Eureka</p>
                <p class="toiawase">
                    <a href="#/contact">Contact Us</a> - <a href="#/advertise">Advertise With Us</a> - <a href="#/help-resources">Help Resources</a> - <a href="#/rules" class="small button">Terms & Policies</a>

                    <div class="g-follow" data-annotation="none" data-height="15" data-href="https://plus.google.com/101511461747859957015" data-rel="publisher"></div>
                    <div class="fb-share-button" data-href="https://www.facebook.com/pages/Angels-Of-Eureka/526557840709907" data-width="100" data-type="button_count"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-related="angelsofeureka">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </p>
            </div>
        </footer>
        <!-- End Footer -->
    <!-- </section> -->
    <div id="toc" class="" ng-controller="MusicPlayerCtrl">
        <h2 ng-hide="iosshow" id="tocToggle" class="toc navTab status-off" ><a click>Music On/Off</a></h2>
        <aside class="base-class" ng-class="{'my-class':boolChangeClass}">
            <figure id="tableOfContents">
                <object width="250" height="250" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsPlaylist9229298428" name="gsPlaylist9229298428" >
                    <param name="movie" value="http://grooveshark.com/widget.swf" />
                    <param name="wmode" value="window" />
                    <param name="allowScriptAccess" value="always" />
                    <param name="flashvars" value="hostname=grooveshark.com&playlistID=92292984&p=0&bbg=F18B7D&bth=000000&pfg=000000&lfg=000000&bt=FFFFFF&pbg=FFFFFF&pfgh=FFFFFF&si=FFFFFF&lbg=FFFFFF&lfgh=FFFFFF&sb=FFFFFF&bfg=F18B7D&pbgh=F18B7D&lbgh=F18B7D&sbh=F18B7D" />
                    <object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="250" height="250">
                        <param name="wmode" value="window" />
                        <param name="allowScriptAccess" value="always" />
                        <param name="flashvars" value="hostname=grooveshark.com&playlistID=92292984&p=0&bbg=F18B7D&bth=000000&pfg=000000&lfg=000000&bt=FFFFFF&pbg=FFFFFF&pfgh=FFFFFF&si=FFFFFF&lbg=FFFFFF&lfgh=FFFFFF&sb=FFFFFF&bfg=F18B7D&pbgh=F18B7D&lbgh=F18B7D&sbh=F18B7D" />
                        Sorry, the flash player for this service is not supported by your device.
                    </object>
                </object>
            </figure>
        </aside>
    </div>
    <div id="slideout" if-authed="show" ng-controller="OnlineContacts">
        <img src="/img/mail_2.png" alt="Open Message Center" />
        <div id="slideout_inner">
            <h4>People in your network</h4>
            <div id="onlineContacts">
                <div class="my-repeat-animation" ng-repeat="contact in contacts">
                    <div style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000" ng-controller="messageController">
                        <i>
                            <a ng-href="#/pubpro/{{contact.username}}" ng-click="getMessages(username)">{{contact.firstName}} "{{contact.username}}" {{contact.lastName}}</a>
                            <div class="onlineStatus {{contact.online}}" style="font: x-small serif; color: steelblue;float: right">
                                <i title="Offline">
                                    <!--({{contact.online}} is Offline) -->
                                </i>
                                <span title="Online"></span>
                            </div>
                            <!-- I don't think this is working as intended.
                            <span ng-show="(contact in contacts).length == 0">Offline</span>
                            -->
                        </i>

                        <br/>
                    </div>
                </div>
                <div ng-hide="contacts.length" style="background: #F4F4F4; margin-bottom: 10px; padding: 5px; border-bottom: 1px dashed #000000">There are currently no members of your network online</div>
            </div>
        </div>
    </div>
</section>
<!-- Sitewide Modals -->
<div id="login-inner" class="hide" ng-controller="LoginController">
    <div reveal-modal="login" id="loginModal" class="reveal-modal medium" data-reveal>
        <p><b>{{error}}</b></p>

        <p><b>{{message}}</b></p>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Username</th>
                <td><input type="text" class="login-inp" ng-model="form.username"/></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" class="login-inp" ng-model="form.password"/></td>
            </tr>
            <tr>
                <th></th>
                <td><a class="button" ng-click="submitAuth()">Login</a></td>
                <!--<td><a class="close-reveal-modal button">Close</a></td>-->
                <td ><a ng-click="forgot()" href="#/passwordrecovery">forgot password??</a></td>
            </tr>
        </table>
        <a class="closeButton close-reveal-modal" closeparent title="Hide this box by clicking here">X</a>
    </div>

</div>


<div id="pic-inner" class="hide" ng-controller="DeletePicsCtrl">
    <div reveal-modal="deletepic" id="confirmDeletePics" class="reveal-modal small" data-reveal>
        <p><b>{{message}}</b></p>

        <p class="close-reveal-modal button" ng-href="#">Cancel</p>
        <a class="button" ng-click="deletepic()">Yes I am sure</a>
    </div>
</div>
<!-- End Sitewide Modals -->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js scripts/modules.js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbuild -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script type="text/javascript" src="scripts/external/app.js"></script>
<script type="text/javascript" src="scripts/external/ui-bootstrap-tpls-0.7.0.min.js"></script>
<script type="text/javascript" src="scripts/external/socketmodule.js"></script>
<script type="text/javascript" src="scripts/external/resources/blogService.js"></script>
<script type="text/javascript" src="scripts/external/resources/userService.js"></script>
<script type="text/javascript" src="scripts/external/services/BlogService.js"></script>
<script type="text/javascript" src="scripts/external/services/updateService.js"></script>
<script type="text/javascript" src="scripts/external/filters/byTag.js"></script>
<script type="text/javascript" src="scripts/external/GlobalCtrls/TitleCtrl.js"></script>
<script type="text/javascript" src="scripts/external/GlobalCtrls/BlogListCtrl.js"></script>
<script type="text/javascript" src="scripts/external/GlobalCtrls/GroupListCtrl.js"></script>
<script type="text/javascript" src="scripts/external/resources/twitterService.js"></script>
<script type="text/javascript" src="scripts/external/directives/loader.js"></script>
<script type="text/javascript" src="scripts/external/directives/ng-infinite-scroll.js"></script>
<script type="text/javascript" src="scripts/external/scope.onready.js"></script>
<script type="text/javascript" src="scripts/external/controller/MusicPlayerCtrl"></script>
<script type="text/javascript" src="scripts/external/controller/GiftShopCtrl"></script>
<script type="text/javascript" src="scripts/external/resources/apiV2.js"></script>
<script type="text/javascript" src="scripts/external/angular-http-auth.js"></script>
<script type="text/javascript" src="scripts/external/directives/login.js"></script>
<script type="text/javascript" src="scripts/vendor/jqAutoscroller.js"></script>
<script type="text/javascript" src="scripts/vendor/dropzone.js"></script>
<script type="text/javascript" src="scripts/external/dropzonemodule.js"></script>
<script type="text/javascript" src="scripts/foundation/foundation-datepicker.js"></script>
<script type="text/javascript" src="scripts/external/services/Cache.js"></script>
<script type="text/javascript" src="scripts/vendor/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript" src="scripts/external/shadowboxmodule.js"></script>
<script type="text/javascript" src="scripts/external/provider/angular-adaptive-detection.js"></script>
<script type="text/javascript" src="scripts/vendor/intro.js-0.7.0/intro.js"></script>
<script type="text/javascript" src="scripts/external/directives/angular-intro.js"></script>
<script type="text/javascript" src="scripts/external/fb-share.js"></script>
<script type="text/javascript" src="scripts/external/angular-accordion.js"></script>
<script type="text/javascript" src="scripts/vendor/hamster.js"></script>
<script type="text/javascript" src="scripts/vendor/mousewheel.js"></script>
<script type="text/javascript" src="scripts/external/gilbox-kinetic-slider.js"></script>
<script type="text/javascript" src="scripts/foundation/foundation.js"></script>
<script type="text/javascript" src="scripts/foundation/foundation.reveal.js"></script>
<script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>
<!-- endbuild -->
<script>
    $(document).ready(function () {
        $(document).foundation();
        Shadowbox.init({
            skipSetup: false
        });

        if($("#userProfiler").length) {
            var avatar = $(".avatar").attr("src");
            var avatarURL = encodeURI(avatar);
            console.log("The user avatar's url is ", avatarURL);
            $("#userProfiler").css({"background-image": "url("+ avatarURL +")"});
            $("#userProfiler").css({"background-repeat": "no-repeat"});
            $("#userProfiler").css({"background-position": "center center"});
            $("#userProfiler").css({"background-attachment": "fixed"});
            $("#userProfiler").css({"background-size": "cover"});
            $("#userProfiler").css({"-webkit-background-size": "cover"});
        }else{
            console.log("There is no user profile currently visible")
        };
    });
</script>
<!--
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "6d15cf8c-3da5-415e-9f2c-699aad4f7e2d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>-->
</body>
</html>
