<div ng-controller="LatestCtrl" xmlns="http://www.w3.org/1999/html">
  <div >
      <div  infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='0'>
          <div class="angelStory" ng-switch on="parentObject.type">
              <a ng-switch-when="angel" ng-click="toogleEventEntry(); loadPage('angelStory')" class="readStory">Read {{ entry.firstName }}'s story here.</a>
              <a ng-switch-when="pet" ng-click="toogleEventEntry(); loadPage('angelStory')" class="readStory">Read {{ entry.firstName }}'s story here.</a>
              <a ng-switch-when="group" ng-click="toogleEventEntry(); loadPage('angelStory')" class="readStory">Read the {{ entry.title }} story here.</a>

              <a ng-switch-when="angel" class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-href="http://the-circle-of-life.net/#/angel/{{ entry.author }}"></a>
              <a ng-switch-when="pet" class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-href="http://the-circle-of-life.net/#/pet/{{ entry.author }}"></a>
              <a ng-switch-when="group" class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-href="http://the-circle-of-life.net/#/group/{{ entry.author }}"></a>
              <!--<br />
              <span class='st_facebook_hcount' displayText='Facebook'></span>
              <span class='st_fblike_hcount' displayText='Facebook Like'></span>
              <span class='st_twitter_hcount' displayText='Tweet'></span>
              <span class='st_plusone_hcount' displayText='Google +1'></span>
              <span class='st_pinterest_hcount' displayText='Pinterest'></span>
              <span class='st_email_hcount' displayText='Email'></span>
              <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
              <span class='st_sharethis_hcount' displayText='ShareThis'></span>-->
          </div>
        <div id="contentHeader" class="conversations">
            <h2 class="contentHeaderTitle">Start a New Conversation</h2>
        </div>
      <div ng-class="{spinner:spinner}"></div>
      <textarea ng-model="postText" class="addNewPost "
                placeholder="Begin a new conversation here"></textarea><a ng-click="submit()" class="button postfix">Submit</a>
      <div ng-class="{spinner:spinner}"></div>
        <br/>
        <div class=" socialButtons1">
            <div ng-click="menu.photo = true;menu.video = false;menu.event = false" class="buttons">Share a Photo</div>
            <div ng-click="menu.video = true;menu.photo = false;menu.event = false" class="buttons">Share a Video</div>
            <div ng-switch on="parentObject.type">
                <div ng-switch-when="pet" ng-click="$parent.menu.event = true;$parent.menu.video = false; $parent.menu.photo = false;" class="buttons">Share an Anniversary</div>
                <div ng-switch-when="angel" ng-click="$parent.menu.event = true;$parent.menu.video = false;$parent.menu.photo = false;" class="buttons">Share an Anniversary</div>
                <div ng-switch-when="group" ng-click="$parent.menu.event = true;$parent.menu.video = false; $parent.menu.photo = false;" class="buttons">Share an Event</div>
            </div>
        </div>
          <div class=" socialButtons2">
              <div ng-click="menu.photo = true;menu.video = false;menu.event = false" class="buttons">Photo</div>
              <div ng-click="menu.video = true;menu.photo = false;menu.event = false" class="buttons">Video</div>
              <div ng-switch on="parentObject.type">
                  <div ng-switch-when="pet" ng-click="$parent.menu.event = true;$parent.menu.video = false; $parent.menu.photo = false;" class="buttons">Anniversary</div>
                  <div ng-switch-when="angel" ng-click="$parent.menu.event = true;$parent.menu.video = false;$parent.menu.photo = false;" class="buttons">Anniversary</div>
                  <div ng-switch-when="group" ng-click="$parent.menu.event = true;$parent.menu.video = false; $parent.menu.photo = false;" class="buttons">Event</div>
              </div>
          </div>
        <div ng-show="menu.photo" id="UploadBox">
            <p>
                <b>*You can create beautiful photo montages of your Angel and family and create cover photos for your timeline for the holidays, etc at <a href="http://imikimi.com" target="_blank">imikimi.com</a>. Once you create
                    them there, upload them to your gallery on this panel!</b>
            </p>
            <h2 class="dark">Photo Uploader: Drag and drop image files on the box</h2>
            <div id='UploadArea'>
                <dropzone url="/upload" class="dropzone" autoupload="false" addRemoveLinks="true" id="my-awesome-dropzone" ></dropzone>
            </div>
            <textarea ng-model="photoAdded.photoPostText" class="addNewPost "
                      placeholder="Tell us about these photos"></textarea>
            <div ng-show="photoAdded.show" ng-click="menu.photo=false;addPhotoToStream()" class="button small">You have added a photo. Click here to post to Stream.</div>
            <div ng-show="photoAdded.show" ng-click="menu.photo=false;clearPhotosFromDropzone()" class="button small">Finished</div>
            <div ng-hide="photoAdded.show" ng-click="menu.photo=false" class="button small">Finished</div>

        </div>
        <div ng-show="menu.video" id="videobox">
            <div>
                <h3>Select which type of video you would like to show.</h3>
                <a class="button small" ng-click="menu.youtube = true;menu.animoto = false;">YouTube</a>
                <a class="button small" ng-click="menu.youtube = false;menu.animoto = true;">Animoto</a>
                <div class="my-show-hide-animation" ng-show="menu.youtube">
                    <h4 class="dark">YouTube Link</h4>
                    <b class="dark">Past or type a YouTube url here.</b>
                    <input type="text" name="youtube" ng-model="embedVideos.youtube" id="youtube" placeholder="Enter your youtube embed code here!"/>
                    <input type="text" ng-model="photoAdded.photoPostText" class="addNewPost "
                           placeholder="Tell us about this video"/>
                    <a ng-click="submitVideo()" class="button small">Add Video to your stream</a>
                </div>
                <div class="animoto" ng-show="menu.animoto">
                    <h4 class="dark">Animoto Link</h4>

                    <p>*Turn your photos and music into stunning video slideshows. You provide
                        the photos, you pick the song, and we'll add the magic. Give it a try —
                        it's fast, free and shockingly easy. <a href="http://animoto.com"
                                                                target="_blank">http://animoto.com</a>
                        Once you create your Animoto video there, use your "share" link to
                        upload them to your video gallery on this panel!</p>
                    <input type="text" name="animoto" ng-model="embedVideos.animoto" id="animoto"
                           placeholder="Enter your animoto video url here!"/>
                    <input type="text" ng-model="photoAdded.photoPostText" class="addNewPost "
                           placeholder="Tell us about this video"/>
                    <a ng-click="submitVideo()" class="button small">Add Video to your stream</a>

                </div>
            </div>
            <div ng-click="menu.video=false" class="button small">Finished</div>
        </div>
        <div ng-show="menu.event" id="eventbox">
            <div>
                <h4 class="dark">Add a New Angel Anniversary</h4>
                <h5>Details</h5>
                <input type="text" name="eventheader" ng-model="eventData.event"  placeholder="Give your event a name"/>
                <textarea name="eventdesc" ng-model="eventData.eventdesc" placeholder="Tell us more about why this day is special"/></textarea>
                <h5>Date</h5>
                <div class="form-horizontal">
                    <input type="text" name="eventdate" datepicker-popup="yyyy/MMMM/dd" ng-model="eventData.eventdate" is-open="opened2" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" placeholder="Pick a Date FOR YOUR Anniversary or Event" />
                    <button class="btn" ng-click="open(2)"><img src="/img/eventsIcon.png" title="What's Happening" alt="Upcoming Events"></button>
                </div>
                <a ng-click="submitEvent()" class="button small">Submit Angel Anniversary</a>
            </div>
            <div ng-click="menu.event=false" class="button small">Finished</div>
        </div>

        <!--<div  class="  contentContainer my-repeat-animation" ng-repeat="post in posts" >-->
      <div class="stream">
        <div class="contentContainer my-repeat-animation" ng-repeat="post in posts" >
          <div>
                <div class=" postcontainer">
                    <div ng-show="parentObject.admin">
                        <i class="fi-check" ng-show="post.inStream"></i>
                    </div>
                    <div>
                        <li ng-show="parentObject.admin" class="dropdown noStyleList">
                            <a class="dropdown-toggle">
                                <i class="fi-list"></i>
                            </a>
                            <ul class="dropdown-menu comment-dropdown-menu">
                                <li ng-repeat="choice in items">
                                    <a ng-click="SelectedChoice($index,post._id)">{{choice}}</a>
                                </li>
                            </ul>
                        </li>

                            <img src="http://www.gravatar.com/avatar/{{post.gravatar}}?d=http%3A%2F%2Fwww.angelsofeureka.com%2Fimages%2FloadingLogoIcon.png" style="float:left; max-width: 40px; padding-right:5px;" />
                        <h6 style="float:left;margin-top: -3px;line-height: 18px;">Posted by <a ng-href="#/pubpro/{{post.username}}">{{post.username}}</a><br /> on {{post.date}}.</h6>

                    </div>

                    <div class="postContent" style="display: block; clear:both;">
                        {{post.text}}{{post.event}}
                    </div>


                    <div ng-if="post.photos">
                        <!--<b>The follwing photo has been posted</b>-->

                    </div>
                    <div ng-bind-html="post.embedYouTube | unsafe"></div>
                    <div ng-bind-html="post.embedAnimoto | unsafe"></div>
                    <br />

                    <div ng-repeat="photo in post.photos">
                        <a shadowbox name="image" url="uploads/{{photo.filename}}" href="uploads/{{photo.filename}}" rel="shadowbox">
                        </a>
                    </div>
                </div>
                <div ng-switch on="post.canComment">
                    <div ng-switch-when="true">
                        <div ng-repeat="comment in post.comments" class="row replycontainer my-repeat-animation">
                                <div class=" avatarcontainer">
                                    <img src="http://www.gravatar.com/avatar/{{comment.gravatar}}?d=http%3A%2F%2Fwww.angelsofeureka.com%2Fimages%2FloadingLogoIcon.png"/>
                                </div>

                                <div class="copy">
                                    <a href="#/profile/{{comment.username}}">
                                    <b>{{comment.username}}</b></a>
                                    <p>{{comment.text}}</p>
                                </div>
                        </div>
                        <div >
                            <div class=" postComment">
                                <!-- <a ng-click="showcommentbox($index)" class="button tiny">Join the conversation</a>
                               <div ng-show="commentbox[$index]">-->
                                <b style="text-align: left; font-size: small;font-weight: normal;">Join the conversation</b>
                                <div ng-class="{spinner:spinner}"></div>

                                <div>
                                    <input type="text" on-keyup="submitComment($index)" keys="[27,13]" ng-model="newcomment[$index]" placeholder="Add your thoughts here! (Click enter to submit)" maxlength="300" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="false">
                        <div> Commenting turned off</div>
                    </div>
                    <div ng-class="{spinner:spinner}"></div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
